<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div id="app">

        <div class="heading__box">
            <header>

                <form action="#" @submit.prevent="filter()">
                    <input type="text" v-model="userValue">
                    <button type="submit">ok</button>
                </form>

                <div class="cart__box">
                    <button @click="show = !show">Cart</button>
                    <div class="cart"  v-show="show">
                        <p v-if="!cartItems.length">The cart is empty</p>
                        <div class="cart__item" v-for="item of cartItems">
                            <img :src="item.img" alt="Some img">
                            <div class="cart__left">
                                <h3>{{item.name}}</h3>
                                <p>Quantity: {{item.quantity}}</p>
                                <p>Price: {{item.price}}</p>
                            </div>
                            <div class="cart__right">
                                <p>{{item.price*item.quantity}}</p>
                                <button @click="toRemoveProduct(item)">X</button>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>

        <div class="products">
            <div class="card" v-for="item of filtered">
                <img :src="item.img" alt="Some img">
                <h3>{{item.name}}</h3>
                <p>{{item.price}}</p>
                <button @click="toAddProduct(item)">To add</button>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="script.js"></script>
</body>

</html>