$main-color: #A5C926;

* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: sans-serif;
}

.wrapper {
    max-width: 1200px;
    padding: 15px;
}

//header
.header {
    &__fixed {
        position: fixed;
        background-color: $main-color;
        width: 100%;
    }

    &__top {
        padding: 8px 15px;
        display: flex;
        justify-content: space-between;
        color: #fff;
    }

    &__contacts {
        display: flex;
        gap: 16px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        margin-left: 0;
    }

    &__links {
        display: flex;
        align-items: center;
        margin-right: 0;

        & img {
            width: 20px;
            margin-left: 15px;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        padding: 47px 15px 15px;

    }

    &__left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 39px;
        margin-left: 0;
    }

    &__logo {
        text-decoration: none;
        font-family: 'Varela Round' sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 32px;
        color: #333333;
    }

    &__menu {
        & a {
            text-decoration: none;
            font-family: 'Open Sans' sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #111111;
            margin-left: 36px;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        margin-right: 0;
    }
}

//cart
.cart {
    position: absolute;
    padding: 10px;
    top: 40px;
    right: 0;
    border: 1px solid $main-color;

    &__box {
        position: relative;
    }

    &__btn {
        background: none;
        border: none;
        font-family: 'Open Sans' sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 24px;
        color: #111111;
        cursor: pointer;
    }

    &__inner {
        display: flex;
        align-items: center;
        gap: 15px;

        & img {
            width: 24px;
        }

        & p {
            font-family: 'Open Sans' sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
        }
    }

    &__quantity {
        font-size: 14px;
        color: #fff;
        background-color: $main-color;
        border-radius: 50%;
        padding: 0 7px;
    }

    &__card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 300px;
        font-family: 'Open Sans' sans-serif;
        margin-bottom: 10px;

        & img {
            width: 100px;
        }
    }

    &__right {
        width: 130px;

        & p {
            font-size: 14px;
            margin-bottom: 3px;
        }
    }

    &__left {
        & p {
            font-size: 14px;
            font-weight: 700;
        }

        & button {
            color: $main-color;
            font-size: 20px;
            background: none;
            border: 2px solid $main-color;
            padding: 3px 7px;
            margin-top: 5px;
            cursor: pointer;
        }
    }
}

//filter


//inner
.inner {
    background-image: url('img/inner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 166px 10px;

    &__text {
        background-color: #fff;
        padding-top: 55px;
        padding-bottom: 55px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        max-width: 570px;
        border-radius: 16px;

        & p {
            font-family: 'Open Sans' sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            text-align: center;
            color: $main-color;
            margin-bottom: 17px;
        }

        & h1 {
            font-family: 'Varela Round' sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 39px;
            line-height: 48px;
            text-align: center;
            color: #111111;
            margin-bottom: 20px;
        }

        & a {
            display: inline-block;
            text-decoration: none;
            font-family: 'Open Sans' sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            color: #fff;
            padding: 12px 28px;
            background-color: $main-color;
            border: none;
            border-radius: 24px;

        }
    }
}

//catalog
.catalog {
    display: flex;
    justify-content: space-between;

    &__inner {
        padding-top: 152px;
        padding-bottom: 119px;
        background: #F8F8F8;
    }

    & p {
        font-family: 'Varela Round' sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 36px;
        color: #FFFFFF;
        margin-top: 48px;
    }

    & a {
        display: inline-block;
        font-family: 'Open Sans' sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 24px;
        text-align: center;
        color: #111111;
        margin-top: 16px;

        background: #FFFFFF;
        border-radius: 20px;
        padding: 8px 24px;
        text-decoration: none;
    }

    & img {
        margin-top: -57px;
        width: 40%;
    }

    &__box {
        display: flex;
        flex-direction: column;
        width: 60%;
    }

    &__stuffed {
        display: flex;
        align-self: center;
        justify-content: center;
        gap: 23px;
        background: #FFC12C;
        border-radius: 16px;
        width: 49%;
        margin-left: 0;
        padding: 0 15px 48px;
    }

    &__wooden {
        display: flex;
        align-self: center;
        justify-content: center;
        gap: 23px;
        background: #FB416B;
        border-radius: 16px;
        width: 49%;
        margin-right: 0;
        padding: 0 15px 48px;
    }

    &__left {
        margin-left: 0;
    }

    &__right {
        margin-right: 0;
    }
}

//product
.product {
    display: flex;
    justify-content: space-between;

    &__inner {
        background-color: #F8F8F8;
    }

    &__box {
        display: flex;
        flex-direction: column;
    }
    

    &__header {
        display: flex;
        justify-content: space-between;

        & h2 {
            font-family: 'Varela Round'sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 36px;
            color: #111111;

        }

        & h4 {
            font-family: 'Open Sans' sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 20px;
            color: #111111;
            border-bottom: 2px solid #DDDDDD;
        }
    }

}

//card
.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    padding: 33px 44px;

    & h4 {
        font-family: 'Varela Round' sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #111111;
        margin-bottom: 25px;
    }

    & button {
        font-family: 'Open Sans' sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: #fff;
        background: $main-color;
        border-radius: 16px;
        padding: 2px 24px;
        margin-bottom: 12px;
        border: none;
    }
}