$main-color: #A5C926;

* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: sans-serif;
}

.wrapper {
    max-width: 1200px;
    padding: 15px;
}

//header
.header {
    &__fixed {
        position: fixed;
        background-color: $main-color;
        width: 100%;
    }

    &__top {
        padding: 8px 15px;
        display: flex;
        justify-content: space-between;
        color: #fff;
    }

    &__contacts {
        display: flex;
        gap: 16px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        margin-left: 0;
    }

    &__links {
        display: flex;
        align-items: center;
        margin-right: 0;

        & img {
            width: 20px;
            margin-left: 15px;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        padding: 47px 15px 15px;

    }

    &__left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 39px;
        margin-left: 0;
    }

    &__logo {
        text-decoration: none;
        font-family: 'Varela Round' sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 32px;
        color: #333333;
    }

    &__menu {
        & a {
            text-decoration: none;
            font-family: 'Open Sans' sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #111111;
            margin-left: 36px;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        margin-right: 0;
    }
}

//cart
.cart {
    position: absolute;
    padding: 10px;
    top: 40px;
    right: 0;
    border: 1px solid $main-color;

    &__box {
        position: relative;
    }

    &__btn {
        background: none;
        border: none;
        font-family: 'Open Sans' sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 24px;
        color: #111111;
        cursor: pointer;
    }

    &__inner {
        display: flex;
        align-items: center;
        gap: 15px;

        & img {
            width: 24px;
        }

        & p {
            font-family: 'Open Sans' sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
        }
    }

    &__quantity {
        font-size: 14px;
        color: #fff;
        background-color: $main-color;
        border-radius: 50%;
        padding: 0 7px;
    }

    &__card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 300px;
        font-family: 'Open Sans' sans-serif;
        margin-bottom: 10px;

        & img {
            width: 100px;
        }
    }

    &__right {
        width: 130px;

        & p {
            font-size: 14px;
            margin-bottom: 3px;
        }
    }

    &__left {
        & p {
            font-size: 14px;
            font-weight: 700;
        }

        & button {
            color: $main-color;
            font-size: 20px;
            background: none;
            border: 2px solid $main-color;
            padding: 3px 7px;
            margin-top: 5px;
            cursor: pointer;
        }
    }
}

//filter


//inner
.inner {
    background-image: url('img/inner.jpg');
    background-repeat: no-repeat;

    &__text {
        background-color: #fff;
        padding: 55px 77px;
        margin: 166px 0;

        & p {
            font-family: 'Open Sans' sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            text-align: center;
            color: $main-color;
            margin-bottom: 17px;
        }

        & h1 {
            font-family: 'Varela Round' sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 39px;
            line-height: 48px;
            text-align: center;
            color: #111111;
            margin-bottom: 20px;
        }

        & a {
            display: inline-block;
            text-decoration: none;
            font-family: 'Open Sans' sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            color: #fff;
            padding: 12px 28px;
            background-color: $main-color;
            border: none;
            
        }
    }
}